@model AccountLogin
@{
    ViewBag.Title = "Prijava";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="forma">
    <div class="main-div" style="max-width:38%">
        <div class="panel">
            <h2>Prijava</h2>
            <p>Unesite lozinku i korisničko ime</p>
        </div>
        <form method="post" asp-controller="Account" asp-action="OnPostAsync">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Username" >Korisničko ime</label>
                <input asp-for="@Model.Username" class="form-control" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Password" >Lozinka</label>
                <input asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-info">Prijava</button>
            </div>
        </form>

    </div>
</div>

