@model StudentPrikazStudenta
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Prikaz studenta";
}
<br />
<div class="list-group" style="width:90%; margin:0 auto;">
    <div class="list-group-item">
        @Model.Slusa.Student.Ime  @Model.Slusa.Student.Prezime/@Model.Slusa.Predmet.Naziv
    </div>
</div>
<br />
<p>
    @HttpContextAccessor.HttpContext.Session.GetString("nastavnik");
</p>
<p>
    @Model.Datum.Day/@Model.Datum.Month/@Model.Datum.Year
</p>
<ul class="list-group" style="width:90%; margin:0 auto;">
    @for (var i = 0; i < Model.Slusa.Predmet.TipoviAktivnosti.ToList().Count; i++)
    {
        bool pronadjen = false;
        <li class="prikazStudenta list-group-item d-flex justify-content-between align-items-center">

            @Model.Slusa.Predmet.TipoviAktivnosti.ToList()[i].SifraTipaAktivnosti. @Model.Slusa.Predmet.TipoviAktivnosti.ToList()[i].Naziv
            @for (var j = 0; j < Model.AktivnostiStudenta.ToList().Count; j++)
            {
                if (Model.AktivnostiStudenta.ToList()[j].SifraTipaAktivnosti == @Model.Slusa.Predmet.TipoviAktivnosti.ToList()[i].SifraTipaAktivnosti)
                {
                    pronadjen = true;
                    <span style="float:right">
                        @Model.AktivnostiStudenta.ToList()[j].BrojPoena
                    </span>
                    break;
                }
            }

            @if (pronadjen == false)
            {
                <span style="float:right">
                    0
                </span>
            }
        </li>
    }
</ul>
<br />
<div class="list-group">
    <div class="prikazStudentaOcena list-group-item  d-flex justify-content-between align-items-center">
        @if (Model.Slusa.ZakljucenaOcena == null)
        {
            <span>Predložena ocena</span>
            <span style="float:right">
                @Model.Slusa.PredlozenaOcena
            </span>
        }

        else
        {
            <span>Zaključena ocena</span>
            <span style="float:right">@Model.Slusa.ZakljucenaOcena</span>
        }
    </div>
</div>
<br />